SERVICE_NAME=ohlcv

MONGODB_HOST=localhost:27017
MONGODB_NAME=dbname
MONGODB_TIMEOUT=15 #second
MONGODB_DEAL_COLLECTION_NAME=deals

KAFKA_HOST=localhost:9092
KAFKA_SUBSCRIBER_COUNT=3

CENTRIFUGE_HOST=localhost:8080