openapi: '3.0.2'
info:
  title: PointPay.io Public Spot API (draft)
  description: |-
    OpenAPI Specifications for the PointPay.io Public Spot API
  version: '0.1.0'

servers:
  - url: https://trade.exchange.pointpay.io
  - url: https://master.trade.stage.exchange.pointpay.io

tags:
  - name: Market
    description: Market Data
  - name: Trade
    description: Account/Trade
  - name: Wallet
    description: Wallet Endpoints
paths:
  /api/v1/trades:
    get:
      summary: Recent Trades List
      description: |-
        Get recent trades.

        Weight(IP): 1
      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resp_error'
  /api/v3/ticker/24hr:
    get:
      summary: 24hr Ticker Price Change Statistics
      description: |-
        24 hour rolling window price change statistics. Careful when accessing this with no symbol.
        
        - If the symbol is not sent, tickers for all symbols will be returned in an array.
        
        Weight(IP):
        - `1` for a single symbol;
        - `40` when the symbol parameter is omitted;

      tags:
        - Market
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
      responses:
        '200':
          description: 24hr ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ticker'
                  - $ref: '#/components/schemas/tickerList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resp_error'
components:
  parameters:
    symbol:
      name: symbol
      in: query
      required: true
      description: Trading symbol, e.g. PXPUSDT
      schema:
        type: string
        example: 'PXPUSDT'
    optionalSymbol:
      name: symbol
      in: query
      description: Trading symbol, e.g. PXPUSDT
      schema:
        type: string
        example: 'PXPUSDT'
    limit:
      name: limit
      in: query
      description: Default 500; max 1000.
      schema:
        type: integer
        format: int32
        example: 500
  schemas:
    trade:
      type: object
      properties:
        id:
          type: string
        price:
          type: string
          format: string
        qty:
          type: string
          format: string
        quoteQty:
          type: string
          format: string
        time:
          type: integer
          format: int64
          description: Trade executed timestamp, as same as `T` in the stream
          example: 1592887772684
        isBuyerMaker:
          type: boolean
        isBestMatch:
          type: boolean
      required:
        - id
        - price
        - qty
        - quoteQty
        - time
        - isBuyerMaker
        - isBestMatch
    resp_error:
      type: object
      properties:
        code:
          type: integer
          format: int64
          description: Error code
        msg:
          type: string
          description: Error message
          example: "error message"
      required:
        - code
        - msg
    tickerList:
      type: array
      items:
        $ref: '#/components/schemas/ticker'
    ticker:
      type: object
      properties:
        symbol:
          type: string
          example: "PXPBTC"
        priceChange:
          type: string
          example: "0.17160000"
        priceChangePercent:
          type: string
          example: "1.060"
        prevClosePrice:
          type: string
          example: "16.35920000"
        lastPrice:
          type: string
          example: "27.84000000"
        bidPrice:
          type: string
          example: "16.34488284"
        bidQty:
          type: string
          example: "16.34488284"
        askPrice:
          type: string
          example: "16.35920000"
        askQty:
          type: string
          example: "25.06000000"
        openPrice:
          type: string
          example: "16.18760000"
        highPrice:
          type: string
          example: "16.55000000"
        lowPrice:
          type: string
          example: "16.16940000"
        volume:
          type: string
          example: "1678279.95000000"
        quoteVolume:
          type: string
          example: "27431289.14792300"
        openTime:
          type: integer
          format: int64
          example: 1592808788637
        closeTime:
          type: integer
          format: int64
          example: 1592895188637
        firstId:
          type: string
        lastId:
          type: string
        count:
          type: integer
          format: int64
          example: 55958
      required:
        - symbol
        - priceChange
        - priceChangePercent
        - prevClosePrice
        - lastPrice
        - bidPrice
        - bidQty
        - askPrice
        - askQty
        - openPrice
        - highPrice
        - lowPrice
        - volume
        - quoteVolume
        - openTime
        - closeTime
        - firstId
        - lastId
        - count

